/* Importa fontes do Google Fonts: Poppins e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define vari치veis de cores e fontes para uso em todo o CSS */
:root {
    --cor-primaria: #0A1F44; /* Cor principal */
    --cor-secundaria: #ffffff; /* Cor de fundo */
    --cor-terciaria: #ffc933; /* Cor terci치ria */
    --cor-hover: #1C3D71; /* Cor de hover */
    --fonte-primaria: 'Poppins', sans-serif; /* Fonte prim치ria */
    --fonte-secundaria: 'Roboto', sans-serif; /* Fonte secund치ria */
}

body{
    margin: 0; /* Remove margens de todos os elementos */
    padding: 0; /* Remove preenchimentos de todos os elementos */
    font-family: var(--fonte-primaria);
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 2.5fr 0.9fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Cabecalho Cabecalho Cabecalho Cabecalho"
      "Navegacao Navegacao Navegacao Navegacao"
      "Conteudo Conteudo Conteudo Aside"
      "Conteudo Conteudo Conteudo Aside"
      "Rodape Rodape Rodape Rodape";
}
  
.Cabecalho { grid-area: Cabecalho; }

.Cabecalho{
    background-image: url('../assets/icon.png');
    background-position: 100%;
    background-size: 100%;
    text-align: center;
}

.logo_img{
    margin-top: 10px;
    border-radius: 50%;
}

.Navegacao { grid-area: Navegacao; }

.nav_lista{
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav_link{
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    margin: 5px;
}

.nav_link:hover{
    color: var(--cor-terciaria);
}


  
.Aside { grid-area: Aside; }
  
.Conteudo {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Banner Banner Banner"
      "social social social"
      "social social social";
    grid-area: Conteudo;
}
  
.Banner { grid-area: Banner; }
  
.social {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "fb twt tk"
      ". . ."
      ". . .";
    grid-area: social;
}
  
.fb { grid-area: fb; }
  
.twt { grid-area: twt; }
  
.tk { grid-area: tk; }

.Rodape { grid-area: Rodape; }
  